.section{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(imagenes/bg.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}

.boton-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #f3e0e0;
    text-transform: uppercase;

}

.letras{
    color: beige;
}

.enviar{
    color: beige;
}